<div class="container-fluid text-center">
    <div *ngIf="!didCrack ;else crack">
    <div class="title font-weight-bold mt-5">SQL Login</div>
    <a *ngIf="isStupid" href="https://www.w3schools.com/sql/sql_injection.asp">מה את דפוק</a>
    <div class="d-flex my-5">
      <input dir="rtl" type="text" class="form-control mi-input" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="text" placeholder="שם" (input)="filterPepole()">
      <label class="ml-5" for="exampleInputEmail1"></label>
    </div>
    <div *ngFor="let person of peopleFiltered">
      <app-person [person]="person"></app-person>
    </div>
  </div>
  <ng-template #crack>
    <img src="assets/images/hiccup_and_toothless.jpg">
  </ng-template>
</div>