/*****************************************************
 * node_modules imports
 *****************************************************/
@import 'node_modules/bootstrap/scss/bootstrap.scss';

/*****************************************************
 * project imports
 *****************************************************/
@import 'variables';
@import 'mixins';


body {
  background-color: $mainBgColor;
  color: $mainTextColor;
  background-image: url('../assets/images/putin-matrix.gif');
}
